@font-face {
font-family: "PixelSix";
src: url("resources/fonts/PixelSix14.otf")
}

html, body{
  margin:0px;
  font-size:14pt;
  font-family:PixelSix;
}

h1{
  text-align:center;
  font-size:3em;
}

#minedotjs{
  display:block;
  margin:auto;
  margin-bottom:40px;
  border:solid black 2px;
}
